Ques1:

'*': Expression<br>
'hello': values<br>
'-87.8': values<br>
'-': expression<br>
'/': expression<br>
'+': expression<br>
'6': values<br>

Ques2:

String: string is a type of datatype eg:'sudh','123' etc <br>
Variable: Variable is someting that can store the values that may be of any data type like string, integer. eg a= 10,b='sudh'.<br>

Ques3:

Types of Datatypes: <br>
Integer: It contains  numerical values with no decimal digits. like 12,34545,-44,4.<br>
Float: It also contains numerical values but with decimal digits . eg 10.3,45.8.<br>
String: It contains categorical values such as names , city  etc eg : 'sudh'.<br>

Ques4:

Expression is made up of Operators (like '+','/') and operands ( Object that is created) eg: x=x-1 <br>
Expression helps in obtaining the result based on given conditions . <br>

Ques5:

Statement : x= 34 <br>
Expression : x=x+2 <br>
Statement is used for creating variables.<br>
Expression helps in obtaining the result based on given conditions.<br>

Ques6:

In [8]:
bacon=23

Ques7:

In [9]:
'spam'+'spamspam'

'spamspamspam'

In [10]:
'spam'*3

'spamspamspam'

Ques8:

Variable cant start with number

Ques9:

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them

Ques10:

In [19]:
'I have eaten ' + 99 + ' burritos'

TypeError: can only concatenate str (not "int") to str

In [20]:
'I have eaten ' + '99 '+ ' burritos'

'I have eaten 99  burritos'